<header class="header">
  <h1><a class="header-logo" href="/"><%=title %></a></h1>

  <nav>
    <% if (signedin) { %>
    <a class="header-link" href="./logout">Sign Out</a>
    <% } else { %>
    <a class="header-link" href="./login">Sign In</a>
    <% } %>
  </nav>
</header>
