<%- contentFor('body') %>

<div class="hero-content hero">
  <div class="cta">
    <p>Sign up Now to Quote</p>
    <div class="cta-buttons">
      <a href="/sign-up" class="btn">Sign Up</a>
      <a href="/messages" class="btn">View Quotes</a>
    </div>
  </div>

  <div class="photo-credit">
    Photo by
    <a
      href="https://unsplash.com/@jmvillejo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Jed Villejo</a
    >
    on
    <a
      href="https://unsplash.com/photos/bEcC0nyIp2g?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </div>
</div>
