<main class="content-container">
  <h1>Create Message</h1>
  <form action="/messages" method="post">
    <label for="title">Title: (Don't put your name)</label>
    <input type="text" id="title" name="title" required /><br /><br />
    <label for="message">Message:</label>
    <textarea id="message" name="message" rows="10" required></textarea
    ><br /><br />
    <button type="submit">Submit</button>
  </form>
  <a href="/messages">View Messages</a>
</main>
